/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f8fafc;
}

@media print {
  button {
    display: none !important;
  }
}